/*
! *************************
!    RESET AND GENERICS   *
! *************************
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}

/*
! ****************
!      UTILS     *
! ****************
*/

.text-center {
  text-align: center;
}

/*? BUTTON */

.button-white {
  background-color: white;
  color: black;
  border-radius: 1rem;

  padding: 8px 12px;
}

.button-blue {
  background-color: #0084fd;
  border-radius: 1rem;
  margin: 50px 0;
  display: inline-block;

  font-weight: 600;

  padding: 8px 45px;
}

/*
! ****************
!      DEBUG     *
! ****************
*/

.bordered {
  border: 2px dashed black;
  min-height: 50px;
}

.box-content {
  line-height: 60px;
}

/*
! ****************
!      LAYOUT    *
! ****************
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.6rem;
}

.row {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}

.col {
  padding: 0.6rem;
}

/*
! ****************
!      SECTION   *
! ****************
*/

section {
  padding: 3rem 0;
}

/*? HEADER */

.logo {
  display: flex;
  align-items: center;
}

#header {
  background-color: #0084fd;
  color: white;
  height: 80px;
  line-height: 80px;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header + * {
  padding-top: 80px;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

#header .nav-menu {
  display: none;
}

#header li {
  display: inline-block;
  margin: 0 10px;
}

/* ? INTRO */

#intro .card,
.card-first {
  background-color: #b5ddff;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  height: 100%;
}

#intro .card-first {
  padding-bottom: 0;
}

#intro .icon-blue {
  padding-top: 10px;
  font-size: 5rem;
  color: #0084fd;
}

#intro h3 {
  color: #0084fd;
  padding: 20px 0;
}

#intro p {
  color: #5a6e7f;
  font-weight: 600;
  line-height: 25px;
  font-size: 0.9rem;
}

#intro .img-card {
  max-width: 100%;
  display: block;
}

/* ? ANOTHER SECTION */

#another-section {
  background-color: #9792e4;
}

#another-section .card {
  background-color: red;
  max-width: 100%;
  text-align: center;
}

/* ? PARTNERS SECTION */

#partners-section .text-center {
  text-align: center;
}

#partners-section .card {
  background-color: red;
  max-width: 100%;
  padding: 1rem;
}

/* ? NUMBER SECTION */

#number-section {
  background-color: #9792e4;
}

#number-section .card {
  background-color: red;
  max-width: 100%;
  padding: 1rem;
}

/* ? ABOUT SECTION */

#about-section .card {
  max-width: 100%;
  padding: 1rem;
}

/* ? FREE SECTION */

#free-section {
  background-color: #9792e4;
}

/* ? FOOTER */

footer {
  background-color: #333333;
}

/*
! ****************
!    RESPONSIVE  *
! ****************
*/

/* ? TABLET */

@media screen and (min-width: 576px) {
  /* ? INTRO */

  #intro .row {
    display: flex;
    flex-wrap: wrap;
  }

  #intro .img-card {
    max-width: 80%;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #intro .card > .card-section {
    width: 50%;
  }

  /* ? ANOTHER SECTION */
  /* ? PARTNERS SECTION */

  #partners-section .text-center {
    text-align: start;
  }

  #partners-section .card {
    display: flex;
    gap: 10px;
  }

  /* ? NUMBER SECTION */

  #number-section .row {
    display: flex;
    flex-wrap: wrap;
  }
  #number-section .col {
    width: 50%;
  }

  /* ? ABOUT SECTION */

  #about-section .card {
    padding: 1rem;
  }

  #about-section .row {
    display: flex;
  }

  #about-section .col-left {
    width: 60%;
  }
  #about-section .col-right {
    width: 40%;
  }
}

/* ? DESKTOP */

@media screen and (min-width: 992px) {
  /* ? HEADER */

  #header .nav-menu {
    display: inline-block;
  }

  #header .fa-bars {
    display: none;
  }

  /* ? INTRO */

  .container {
    max-width: 1140px;
  }

  #intro .img-card {
    max-width: 100%;
  }

  #intro .col:first-child .card,
  .card-first {
    display: flex;
  }

  /* ? ANOTHER SECTION */

  #another-section .row {
    display: flex;
  }

  #another-section .col {
    width: 50%;
  }

  #another-section .col:last-child {
    display: flex;
    align-items: flex-end;
  }

  #another-section .card {
    border-radius: 5px;
    max-width: 50%;
  }

  #another-section .card .box-content {
    padding: 0 3rem;
  }

  /* ? PARTNERS SECTION */
  /* ? NUMBER SECTION */

  #number-section .col {
    width: calc(100% / 3);
  }
}
